.features {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;

  @keyframes cube-animation-open {
    0% {
      background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%;
    }

    100% {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%;
    }
  }

  @keyframes cube-animation-levitate {
    0% {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%;
    }

    25% {
      background-position: 50% 10px, 50% calc(50% + 12px), 50% calc(100% - 5px);
    }

    50% {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% calc(100% - 10px);
    }

    75% {
      background-position: 50% 0px, 50% calc(50% + 12px), 50% calc(100% - 5px);
    }

    100% {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;

    height: 440px;
    width: 185px;
    min-width: 185px;
    background-image: url('../assets/imgs/img-cube-part-top.png'), url('../assets/imgs/img-cube-part-middle.png'), url('../assets/imgs/img-cube-part-bottom.png');
    background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%;
    background-repeat: no-repeat;

    &[data-animation-process="opening"] {
      background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%; // closed
      animation-name: cube-animation-open;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }

    &[data-animation-process="closing"] {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; // closed
      animation-name: cube-animation-open;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-direction: reverse;
    }

    &[data-animation-process="open"] {
      // background-position: 50% 0, 50% calc(50% + 12px), 50% 100%; //opened
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%;
      animation-name: cube-animation-levitate;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-width: 685px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list-container {
    @keyframes cube-text-animation {
      0% {
        width: 0%;
      }

      100% {
        width: 100%;
      }
    }

    width: 0;
    transition: width .5s ease-in;
    overflow: hidden;

    &[data-animation-process="opening"] {
      width: 0;
      animation-name: cube-text-animation;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }

    &[data-animation-process="closing"] {
      width: 100%;
      animation-name: cube-text-animation;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-direction: reverse;
    }

    &[data-animation-process="open"] {
      width: 100%;
    }
  }

  &__text {
    display: block;

    max-width: 450px;

    letter-spacing: -0.7px;

    color: transparent;
    background-image: linear-gradient(to right, #5da4fa, #ffffff 31%, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;

    line-height: 1.3;

    @include make-ff-nova(16px);
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;

    min-height: 135px;
    padding-left: 235px;

    background-repeat: no-repeat;
    background-size: auto;

    position: relative;


    &--top {
      margin-top: 3px;

      background-image: url('../assets/imgs/img-line-part-top.png');
      background-position: 10px 7px;
    }

    &--middle {
      justify-content: center;

      background-image: url('../assets/imgs/img-line-part-middle.png');
      background-position: 10px center;
    }

    &--bottom {
      justify-content: flex-end;

      margin-bottom: 7px;

      background-image: url('../assets/imgs/img-line-part-bottom.png');
      background-position: 10px calc(100% - 7px);
    }
  }
}
