.instruction {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  &__heading {
    margin: 0;

    &-link {
      display: inline-flex;
      align-items: center;

      text-decoration: none;
      letter-spacing: -0.8px;

      color: #e0e0e0;

      line-height: 30px;

      cursor: pointer;

      @include make-ff-nova(16px);
    }

    &-icon {
      font-size: 0;
      display: inline-block;
      width: 27px;
      height: 100%;
      background-image: url('../assets/imgs/icon-question-mark.png');
      background-repeat: no-repeat;
      background-size: auto;
      margin: 0 5px;
    }

    &:hover &-icon {
      background-image: url('../assets/imgs/icon-question-mark-white.png');
    }
  }

  &__guideline {
    display: flex;
    // display: none;
    flex-flow: row nowrap;
    align-items: center;
    width: 710px;
    margin: 25px 0 0;

    border: 1px solid rgb(77, 89, 161);
    border-radius: 4px;
    background-color: rgb(4, 20, 46);
    box-shadow: 0px 0px 5px 5px #193359, 0px 0px 13px 7px rgba($color-contrast, .2);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .no-js & {
      display: none;
    }
  }

  &__modal {
    display: none;
    
    &[data-visible="false"] {
      display: none;
    }

    &[data-visible="true"] {
      display: flex;
    }
  }

  &__steps {
    margin: 0;
    padding: 0;


    list-style: none;
  }

  &__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    line-height: 30px;
    min-width: 18.3%;
    color: white;
    cursor: pointer;

    @include make-ff-nova(16px)

    &:active {
      padding: 0;
    }

    &--left {
      padding-left: 20px;
      margin-left: 20px;

      background-image: url('../assets/imgs/icon-modal-arrow-prev.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left calc(50% + 2px);

      &:active {
        padding-left: 20px;
      }
    }

    &--right {
      padding-right: 20px;
      text-align: right;
      margin-right: 20px;

      background-image: url('../assets/imgs/icon-modal-arrow-next.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right calc(50% + 2px);

      &:active {
        padding-right: 20px;
      }
    }
  }

  &__lining {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, rgba(darken($color-dark, 5%), 0.8), rgba(darken($color-dark, 5%), 1));
    cursor: pointer;

    &[data-visible="true"] {
      display: block;
    }
  }
}
