.socials {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;

  &__item {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;

    &-text {
      font-size: 0;
    }

    &-icon {
      position: relative;
      display: inline-block;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(94, 166, 251, 0.2);
        z-index: -1;
        border-radius: 100%;
        filter: blur(5px);
        opacity: 0;

        transition: opacity .3s ease-in;
      }

      & svg {
       fill: white;
       width: 30px;
       height: 30px;
       transition: fill .3s ease-in;
     }
    }

    &:hover &-icon svg {
      fill: $color-light;
      transition: fill .1s ease-in;
    }

    &:hover &-icon:before {
      opacity: 1;
      transition: opacity .1s ease-in;
    }
  }
}
