<div class="features">
  <div data-animation-process="closed" class="features__img"></div>

  {# <ul class="features__list">
    <li class="features__item features__item--top">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="218.15" height="73.15" data-name="1" viewBox="0 0 218.15 73.15">
        <defs>
          <linearGradient id="a" x1="1.575" x2="12.575" y1="68.186" y2="63.964" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#5ea5fb"/>
            <stop offset="1" stop-color="#2f4bd6"/>
          </linearGradient>
          <linearGradient id="b" x1="205.575" x2="216.575" y1="7.171" y2="6.979" xlink:href="#a"/>
        </defs>
        <path id="cube-path-top" fill="none" stroke="#4d59a1" stroke-width="3.15" d="M0,0h80.08l28.72,-58.85h97.2">
        <circle cx="7.075" cy="66.075" r="5.5" fill="#030f25" stroke="url(#a)" stroke-width="3.15" data-name="Эллипс 1"/>
        <circle id="cube-point-top" cx="211.075" cy="7.075" r="5.5" fill="#030f25" stroke="url(#b)" stroke-width="3.15" data-name="Эллипс 1"/>
        <circle id="cube-point-top" cx="7.075" cy="66.075" r="5.5" fill="#030f25" stroke="url(#b)" stroke-width="3.15" data-name="Эллипс 1"/>
      </svg>

      <span class="features__text">
        A combination of a blockchain backed by the Delegated Proof-of-Stake consensus algorithm and the support for smart contracts
      </span>
    </li>
    <li class="features__item features__item--middle">
      <span class="features__text">
        Offers an extensive toolkit that simpliﬁes the creation and deployment of DApps
      </span>
    </li>
    <li class="features__item features__item--bottom">
      <span class="features__text">
        A marketplace with a user-friendly lite client that breaks down the entry barriers for regular users into the world of decentralized applications
      </span>
    </li>
  </ul> #}
</div>
