<div class="features">
  <div data-animation-process="closed" data-animation-process-name="cube" class="features__img"></div>

  <div data-animation-process="closed" data-animation-process-name="text" class="features__list-container">
    <ul class="features__list">
      <li class="features__item features__item--top">
        <span class="features__text">
          A combination of a blockchain backed by the Delegated Proof-of-Stake consensus algorithm and the support for smart contracts
        </span>
      </li>
      <li class="features__item features__item--middle">
        <span class="features__text">
          Offers an extensive toolkit that simpliﬁes the creation and deployment of DApps
        </span>
      </li>
      <li class="features__item features__item--bottom">
        <span class="features__text">
          A marketplace with a user-friendly lite client that breaks down the entry barriers for regular users into the world of decentralized applications
        </span>
      </li>
    </ul>
  </div>
</div>
