<form class="request" action="/" method="get">
  <label class="request__label">
    <input class="request__input" type="email" name="email" required>
  </label>

  <button class="request__submit" type="submit">Send request</button>
</form>
