{% import 'partials/snippet.njk' as snippet %}

<div class="instruction">
  <h2 class="instruction__heading"><a data-toggle='["instruction-modal", "instruction-lining"]' class="instruction__heading-link" href="">How to become a witness<span class="instruction__heading-icon">?</span></a></h2>

  <div id="instruction-modal" class="instruction__modal">
    <div class="instruction__guideline">
      <button id="instruction-steps-prev" type="button" class="instruction__btn instruction__btn--left">previous step</button>

      <div id="instruction-steps" class="swiper-container">

        <ul class="swiper-wrapper instruction__steps">
          <li class="swiper-slide">
            <div class="step instruction__step">
              <p class="step__paragraph">Install array-io node software</p>

              <p class="step__paragraph">
                <a href="" class="link">
                  <svg class="link__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32.58 31.77">
                    <path fill-rule="evenodd" d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z" data-name="Layer 1"></path>
                  </svg>
                  <span class="link__text">GitHub</span>
                </a>
              </p>
            </div>
          </li>

          <li class="swiper-slide">
            <div class="step instruction__step">
              <p class="step__paragraph">If you’re using  MacOS, run the following command to ensure that you have everything a Linux user has.</p>

              {% set lines = ['$ cmake -DLINUX_SIGACTION_SIGSEGV=DISABLE ..']%}

              {{ snippet.make(lines, 'step__snippet') }}
            </div>
          </li>

          <li class="swiper-slide">
            <div class="step instruction__step">
              <p class="step__paragraph">You should be able to spawn four threads. Alternatively, if you process with eight cores, you can make eight threads. Choose it according to your core/CPU environment, so that it works efficiently.</p>

              {% set lines = ['$ make -j4']%}

              {{ snippet.make(lines, 'step__snippet') }}
            </div>
          </li>

          <li class="swiper-slide">
            <div class="step instruction__step">
              <p class="step__paragraph">Connect to ‘newton.array.io’ and create a wallet with a chain ID. After the build you will get access the ‘programs’ directory which contains CliWallet and WitnessNode.</p>

              {% set lines = ['$ ./programs/cli_wallet/cli_wallet -s ws://newton.array.io:8090 --chain-id b6b83a593686087531ce581540564d20b2f75ff9879e9dd2eccfa9a79744b949']%}

              {{ snippet.make(lines, 'step__snippet') }}
            </div>
          </li>
        </ul>

      </div>

      <button id="instruction-steps-next" type="button" class="instruction__btn instruction__btn--right">next step</button>

    </div>
  </div>

  <div data-toggle='["instruction-modal", "instruction-lining"]' id="instruction-lining" class="instruction__lining"></div>

</div>
