.page-index {
  padding-bottom: 245px;

  &__jumbotron {
  }

  &__instruction {
    margin: 0;
  }

  &__homescreen {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(100vh - 60px);
    justify-content: center;
  }

  &__logotype {
    display: block;

    margin-right: auto;
    margin-left: auto;
  }

  &__slogan {
    margin: 17px 0 84px;

    text-align: center;
    letter-spacing: -1.2px;

    color: #c1c1c1;

    line-height: 1;

    @include make-ff-nova(24px);
  }

  &__request {
    display: flex;
    justify-content: center;

    width: 100%;

    margin: 0 0 80px;
  }

  &__block {
    // &--jumbotron {
    //   margin: 40px 0 80px;
    // }

    &--instruction {
    }

    &--features {
      margin: 120px 0;
    }

    &--content {
      margin: 75px 0;
    }

    &--ido {
      margin: 105px 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  &__figure {
    background-color: #1c2b45;

    &-img {
      display: block;
    }
  }

  &__text {
    width: 380px;
    margin: 0;

    white-space: pre-line;
    letter-spacing: -0.8px;

    color: #e0e0e0;

    line-height: 1.3;

    @include make-ff-nova(16px);

    text-align: justify;

    // &--align {
    //   &--right {
    //     text-align: right;
    //   }
    // }
  }
}
