{% extends "layout.njk" %}

{% set assets = datasets.get('assets') %}

{% block content %}

  <div class="container page-index">
    <div class="row page-index__block page-index__block--jumbotron">
      <div class="col-12 page-index__homescreen">
        <div class="page-index__jumbotron">
          {% set logo = assets['logotype-jumbotron'] %}

          <img class="page-index__logotype" src="{{ logo.ref }}" alt="{{ logo.alt }}" width="{{ logo.width }}" height="{{ logo.height }}">
        </div>

        <p class="page-index__slogan">
          A client for your DApps.
        </p>

        <div class="page-index__request">
          {% include "partials/input-request.njk" %}
        </div>

        <div class="page-index__instruction">
          {% include 'partials/instruction.njk' %}
        </div>
      </div>
    </div>

    <div id="about-section" class="row page-index__block page-index__block--features">
      <div class="col-12">
        {% include 'partials/features.njk' %}
      </div>
    </div>

    <div id="features-section" class="row page-index__block page-index__block--content">
      <div class="col-12 page-index__content">
        <div class="page-index__figure">
          <img class="page-index__figure-img" src="" alt="" width="340" height="240">
        </div>

        <p class="page-index__text">The Core is the undercurrent power that runs deep in any system and defines its capabilities. We’ve made speed and convenience our priorities. That is why our blockchain is based on DPoS (Delegated Proof-of-Stake) consensus algorithm, allowing significantly larger amount of transactions to be processed in comparison to the Proof-of-Work algorithm.  Additionally, it has an innate support for smart contracts written in Solidity, which brings our platform closer to the real-world use.</p>
      </div>
    </div>

    <div class="row page-index__block page-index__block--content">
      <div class="col-12 page-index__content">
        <p class="page-index__text page-index__text--align--right">As you read these lines, all the existing platforms are trying to fight the issue of slow transactions. But the blockchain world doesn’t have ready decisions yet because it falls into the trap of using the Ethereum Virtual Machine (EVM). To fight this problem, we’ve built our own virtual machine (Array Virtual Machine or AVM) that performs actions faster. For example, it executes smart contracts 25% faster than Python-based VMs. AVM is written on Forth Language with few adaptations that make writing smart contracts more convenient.</p>

        <div class="page-index__figure">
          <img class="page-index__figure-img" src="" alt="" width="340" height="240">
        </div>
      </div>
    </div>

    <div class="row page-index__block page-index__block--content">
      <div class="col-12 page-index__content">
        {% set video = assets['video-placeholder'] %}
        <div class="page-index__figure">
          <img class="page-index__figure-img" src="{{ video.ref }}" alt="{{ video.alt }}" width="{{ video.width }}" height="{{ video.height }}">
        </div>

        <p class="page-index__text">The Array Platform allows developers to easily create DApps using a set of tools, which includes a software development kit (SDK), IDE plugins, Array.io Node all-in-one installation tool and the extensive documentation with tutorials and guidelines. Our SDK consists of a smart contract compiler and debugger, as well as a set of APIs for cross-chain connectivity and IPFS interaction. IDE plugins offer easy-to-use environment for DApp creation and deployment, while the Array.io Node installation tool enables you to instantly connect to our blockchain.</p>
      </div>
    </div>

    <div class="row page-index__block page-index__block--content">
      <div class="col-12 page-index__content">
        <p class="page-index__text page-index__text--align--right">Our client application has a user-friendly interface which gives access to the DApp marketplace and runs the installed DApps in an isolated environment. It has several components built in: local storage, IPFS, keychain, OrbitDB, logger, and many more. These features are easily incorporated with the tools provided in the client SDK, which makes DApp development accessible for anyone.</p>

        <div class="page-index__figure">
          <img class="page-index__figure-img" src="" alt="" width="340" height="240">
        </div>
      </div>
    </div>

    <div class="row page-index__block page-index__block--content">
      <div class="col-12 page-index__content">
        <div class="page-index__figure">
          <img class="page-index__figure-img" src="" alt="" width="340" height="240">
        </div>

        <p class="page-index__text">To make usage of our platform a safe and pleasant experience, we’ve created a shield called the Keychain. It is an app to create and manage private/public key paris, sign transactions, and encrypt data with the keys. It is a standalone application that can be run in the command line or GUI mode.Our keychain supports various cryptographic algorithms (e.g. ECDSA, RSA, algorithms from the OpenSSL) and can manage private keys in different ways. It can be used by a node, a Client or a DApp's NodeJS server to sign transactions, as well as by a web application to keep the keys in an isolated environment.</p>
      </div>
    </div>

    <div id="ido-section" class="row page-index__block page-index__block--ido">
      <div class="col-12">
        {% include 'partials/ido.njk' %}
      </div>
    </div>
  </div>
{% endblock %}
