@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@media (min-width: 1200px) {
  .container {
    max-width: 1080px; } }

body {
  min-height: 100vh;
  margin: 0;
  background-image: url("../assets/imgs/body-bg-1.png"), url("../assets/imgs/body-bg-2.png"), url("../assets/imgs/body-bg-2.png"), linear-gradient(86deg, #031026, #00050c);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-size: auto;
  background-position: center 768px, center 1755px, center 2755px, 0 0; }

.link {
  position: relative;
  z-index: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color .3s ease-in, -webkit-box-shadow .3s ease-in;
  transition: color .3s ease-in, -webkit-box-shadow .3s ease-in;
  transition: color .3s ease-in, box-shadow .3s ease-in;
  transition: color .3s ease-in, box-shadow .3s ease-in, -webkit-box-shadow .3s ease-in;
  text-decoration: none;
  color: #5ea6fb;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2f4bd6), to(#5ea6fb));
  background-image: linear-gradient(to top, #2f4bd6, #5ea6fb);
  -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  line-height: 41px; }
  .link:before {
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    display: block;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    content: '';
    -webkit-transition: -webkit-box-shadow .3s ease-in;
    transition: -webkit-box-shadow .3s ease-in;
    transition: box-shadow .3s ease-in;
    transition: box-shadow .3s ease-in, -webkit-box-shadow .3s ease-in;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0);
            box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0); }
  .link:active:before {
    -webkit-transition: -webkit-box-shadow .1s ease-in;
    transition: -webkit-box-shadow .1s ease-in;
    transition: box-shadow .1s ease-in;
    transition: box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .link:hover {
    -webkit-transition: color .1s ease-in, -webkit-box-shadow .1s ease-in;
    transition: color .1s ease-in, -webkit-box-shadow .1s ease-in;
    transition: color .1s ease-in, box-shadow .1s ease-in;
    transition: color .1s ease-in, box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
    color: #233aaf; }
  .link__icon {
    display: inline-block;
    width: 46px;
    padding: 0 9px 0 11px;
    -webkit-transition: fill .3s ease-in;
    transition: fill .3s ease-in;
    border-right: 1px solid #f2f2f2;
    fill: #5ea6fb; }
  .link:hover .link__icon {
    -webkit-transition: fill .1s ease-in;
    transition: fill .1s ease-in;
    fill: #233aaf; }
  .link__text {
    display: inline-block;
    padding: 0 14px 0 10px; }

.lining {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(1, 12, 28, 0.8), #010c1c);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  cursor: pointer; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .lining[data-modal-state="opening"] {
    display: block;
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  .lining[data-modal-state="open"] {
    display: block;
    opacity: 1; }
  .lining[data-modal-state="closing"] {
    opacity: 1;
    display: block;
    -webkit-animation-name: fade;
            animation-name: fade;
    animation-direction: reverse;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  .lining[data-modal-state="closed"] {
    display: none; }

.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .header__item {
    margin: 0px 12px; }
    .header__item:first-child {
      margin-left: 0; }
    .header__item:last-child {
      margin-right: 0; }
  .header__link {
    display: inline-block;
    -webkit-transition: color .3s ease-in, text-shadow .3s ease-in;
    transition: color .3s ease-in, text-shadow .3s ease-in;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.9px;
    color: #ffffff;
    text-shadow: 0 0 3px rgba(94, 166, 251, 0), 0 0 7px rgba(94, 166, 251, 0);
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal; }
    .header__link:hover {
      -webkit-transition: color .05s ease-in, text-shadow .05s ease-in;
      transition: color .05s ease-in, text-shadow .05s ease-in;
      color: #2f4bd6;
      text-shadow: 0 0 3px rgba(94, 166, 251, 0.4), 0 0 7px rgba(94, 166, 251, 0.25); }

.request {
  position: relative;
  display: block;
  width: 364px;
  padding: 2px;
  border-radius: 5px;
  background-color: #2e49d4;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2f4bd6), to(#5ea6fb));
  background-image: linear-gradient(to top, #2f4bd6, #5ea6fb);
  -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-animation-name: flickering;
          animation-name: flickering;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

@-webkit-keyframes flickering {
  0% {
    -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 30px 20px rgba(29, 39, 56, 0.6), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px 20px rgba(29, 39, 56, 0.6), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  100% {
    -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); } }

@keyframes flickering {
  0% {
    -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 30px 20px rgba(29, 39, 56, 0.6), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px 20px rgba(29, 39, 56, 0.6), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  100% {
    -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738, inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); } }
  .request__input {
    display: block;
    width: 100%;
    padding: 8px 6px 6px 3px;
    letter-spacing: -0.8px;
    color: #021635;
    border: none;
    background: none;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal; }
    .request__input:focus {
      outline: none; }
    .request__input:invalid {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .request__input::-webkit-input-placeholder {
      color: #d6d6d6;
      line-height: 1;
      letter-spacing: -0.8px;
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal; }
    .request__input:-ms-input-placeholder {
      color: #d6d6d6;
      line-height: 1;
      letter-spacing: -0.8px;
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal; }
    .request__input::-ms-input-placeholder {
      color: #d6d6d6;
      line-height: 1;
      letter-spacing: -0.8px;
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal; }
    .request__input::placeholder {
      color: #d6d6d6;
      line-height: 1;
      letter-spacing: -0.8px;
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal; }
  .request__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    padding: 0 3px;
    border: solid 1px black;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .request__submit {
    margin: 0;
    padding: 8px 20px 7px;
    cursor: pointer;
    white-space: pre;
    letter-spacing: 0.6px;
    color: #d6d6d6;
    border: none;
    border-radius: 3px;
    background-color: #021330;
    -webkit-box-shadow: inset 0.7px 1.9px 0.8px 0.2px rgba(0, 0, 0, 0.24);
            box-shadow: inset 0.7px 1.9px 0.8px 0.2px rgba(0, 0, 0, 0.24);
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal; }
    .request__submit:active {
      margin: 1px;
      padding: 7px 19px 6px; }
    .request__submit:focus {
      outline: none; }

.snippet {
  overflow: auto;
  margin: 0 0 35px;
  padding: 0;
  border-radius: 3px;
  background-color: #5ea6fb; }
  .snippet:last-child {
    margin: 0; }
  .snippet__content {
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .snippet__line {
    display: block;
    margin: 8px 12px;
    color: black;
    font-family: monospace;
    font-size: 14px; }

.step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 15px 8px;
  margin: 5px 10px; }
  .step__paragraph {
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;
    color: white;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal; }
    .step__paragraph:last-child {
      margin-bottom: 0; }
    .step__paragraph--margin--sm {
      margin-bottom: 7px; }
  .step__snippet {
    max-width: 100%; }
  .step__emphasis {
    color: #5ea6fb; }

.instruction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .instruction__heading {
    margin: 0; }
    .instruction__heading-link {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      letter-spacing: -0.8px;
      color: #e0e0e0;
      line-height: 30px;
      cursor: pointer;
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal; }
    .instruction__heading-icon {
      position: relative;
      font-size: 0;
      display: inline-block;
      width: 27px;
      height: 100%;
      margin: 0 5px; }
      .instruction__heading-icon:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        -webkit-transition: opacity .3s ease-in;
        transition: opacity .3s ease-in;
        opacity: 0;
        background-image: url("../assets/imgs/icon-question-mark-white.png");
        background-repeat: no-repeat;
        background-size: auto; }
      .instruction__heading-icon:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        -webkit-transition: opacity .3s ease-in;
        transition: opacity .3s ease-in;
        opacity: 1;
        background-image: url("../assets/imgs/icon-question-mark.png");
        background-repeat: no-repeat;
        background-size: auto; }
    .instruction__heading:hover .instruction__heading-icon:after {
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in;
      opacity: 0; }
    .instruction__heading:hover .instruction__heading-icon:before {
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in;
      opacity: 1; }
  .instruction__guideline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 710px;
    margin: 25px 0 0;
    border: 1px solid #4d59a1;
    border-radius: 4px;
    background-color: #04142e;
    -webkit-box-shadow: 0px 0px 5px 5px #193359, 0px 0px 13px 7px rgba(94, 166, 251, 0.2);
            box-shadow: 0px 0px 5px 5px #193359, 0px 0px 13px 7px rgba(94, 166, 251, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10; }

@-webkit-keyframes guideline-modal {
  0% {
    opacity: 0;
    top: 35%; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    top: 50%; } }

@keyframes guideline-modal {
  0% {
    opacity: 0;
    top: 35%; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    top: 50%; } }
    .no-js .instruction__guideline {
      display: none; }
    .instruction__guideline[data-modal-state="opening"] {
      opacity: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 35%;
      -webkit-animation-name: guideline-modal;
              animation-name: guideline-modal;
      -webkit-animation-duration: .5s;
              animation-duration: .5s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; }
    .instruction__guideline[data-modal-state="open"] {
      top: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      opacity: 1; }
    .instruction__guideline[data-modal-state="closing"] {
      opacity: 1;
      top: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-animation-name: guideline-modal;
              animation-name: guideline-modal;
      animation-direction: reverse;
      -webkit-animation-duration: .5s;
              animation-duration: .5s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; }
    .instruction__guideline[data-modal-state="closed"] {
      display: none; }
  .instruction__steps {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none; }
  .instruction__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    line-height: 30px;
    min-width: 18.3%;
    color: white;
    cursor: pointer;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal; }
    .instruction__btn:active {
      padding: 0; }
    .instruction__btn--left {
      margin-left: 20px;
      padding-left: 20px;
      text-align: left;
      background-image: url("../assets/imgs/icon-modal-arrow-prev.png");
      background-repeat: no-repeat;
      background-position: left calc(50% + 2px);
      background-size: auto; }
      .instruction__btn--left:active {
        padding-left: 20px; }
    .instruction__btn--right {
      padding-right: 20px;
      text-align: right;
      margin-right: 20px;
      background-image: url("../assets/imgs/icon-modal-arrow-next.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right calc(50% + 2px); }
      .instruction__btn--right:active {
        padding-right: 20px; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

@-webkit-keyframes cube-animation-open {
  0% {
    background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%; }
  100% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; } }

@keyframes cube-animation-open {
  0% {
    background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%; }
  100% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; } }

@-webkit-keyframes cube-animation-levitate {
  0% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; }
  25% {
    background-position: 50% 10px, 50% calc(50% + 12px), 50% calc(100% - 5px); }
  50% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% calc(100% - 10px); }
  75% {
    background-position: 50% 0px, 50% calc(50% + 12px), 50% calc(100% - 5px); }
  100% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; } }

@keyframes cube-animation-levitate {
  0% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; }
  25% {
    background-position: 50% 10px, 50% calc(50% + 12px), 50% calc(100% - 5px); }
  50% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% calc(100% - 10px); }
  75% {
    background-position: 50% 0px, 50% calc(50% + 12px), 50% calc(100% - 5px); }
  100% {
    background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%; } }
  .features__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 440px;
    width: 185px;
    background-image: url("../assets/imgs/img-cube-part-top.png"), url("../assets/imgs/img-cube-part-middle.png"), url("../assets/imgs/img-cube-part-bottom.png");
    background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%;
    background-repeat: no-repeat; }
    .features__img[data-animation-process="opening"] {
      background-position: 50% 37%, 50% calc(50% + 12px), 50% 66%;
      -webkit-animation-name: cube-animation-open;
              animation-name: cube-animation-open;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .features__img[data-animation-process="closing"] {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%;
      -webkit-animation-name: cube-animation-open;
              animation-name: cube-animation-open;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      animation-direction: reverse; }
    .features__img[data-animation-process="open"] {
      background-position: 50% 5px, 50% calc(50% + 12px), 50% 100%;
      -webkit-animation-name: cube-animation-levitate;
              animation-name: cube-animation-levitate;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none; }
  .features__text {
    display: block;
    max-width: 450px;
    letter-spacing: -0.7px;
    color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#5da4fa), color-stop(31%, #ffffff), to(#ffffff));
    background-image: linear-gradient(to right, #5da4fa, #ffffff 31%, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1.3;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal; }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    min-height: 135px;
    padding-left: 235px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative; }
    .features__item--top {
      margin-top: 3px;
      background-image: url("../assets/imgs/img-line-part-top.png");
      background-position: 10px 7px; }
    .features__item--middle {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-image: url("../assets/imgs/img-line-part-middle.png");
      background-position: 10px center; }
    .features__item--bottom {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-bottom: 7px;
      background-image: url("../assets/imgs/img-line-part-bottom.png");
      background-position: 10px calc(100% - 7px); }

.ido__more {
  display: none;
  border-radius: 7px;
  max-width: 955px;
  padding: 20px 30px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#031026), to(#020b1a));
  background-image: linear-gradient(to top, #031026, #020b1a);
  -webkit-box-shadow: 0px 0px 5px 6px rgba(94, 166, 251, 0.4);
          box-shadow: 0px 0px 5px 6px rgba(94, 166, 251, 0.4);
  position: relative;
  cursor: pointer; }
  .ido__more[data-visible="true"] {
    display: block; }
  .ido__more[data-visible="false"] {
    display: none; }
  .ido__more:before {
    display: block;
    width: 38px;
    height: 21px;
    content: '';
    position: absolute;
    top: 1px;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    background-image: url("../assets/imgs/ido-icon-more.png"); }

.ido__paragraph {
  display: block;
  letter-spacing: -0.8px;
  line-height: 1;
  color: #e0e0e0;
  margin: 20px 0;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal; }
  .ido__paragraph:first-child {
    margin-top: 0; }
  .ido__paragraph:last-child {
    margin-bottom: 0; }
  .ido__paragraph[data-visible="false"] {
    display: none; }
  .ido__paragraph--align--center {
    text-align: center; }

.ido__btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 0;
  color: white;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738;
          box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0.75), 0px 0px 15px 10px #1d2738;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal; }
  .ido__btn:before {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 3px;
    z-index: -1;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2f4bd6), to(#5ea6fb));
    background-image: linear-gradient(to top, #2f4bd6, #5ea6fb);
    content: '';
    opacity: 1;
    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  .ido__btn:active {
    -webkit-box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0), 0px 0px 15px 10px transparent;
            box-shadow: 0px 0px 30px 25px rgba(29, 39, 56, 0), 0px 0px 15px 10px transparent;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in; }
    .ido__btn:active:before {
      -webkit-box-shadow: inset 0px 2px 0.79px 0.21px rgba(0, 0, 0, 0.24);
              box-shadow: inset 0px 2px 0.79px 0.21px rgba(0, 0, 0, 0.24);
      opacity: 0;
      -webkit-transition: all .1s ease-in;
      transition: all .1s ease-in; }
  .ido__btn[data-visible="false"] {
    display: none; }
  .ido__btn-container {
    text-align: center;
    margin-top: 25px; }
  .ido__btn-text {
    display: inline-block;
    line-height: 32px;
    border-radius: 3px;
    padding: 0px 15px;
    background-color: #1d2739;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    min-width: 140px; }
  .ido__btn:active .ido__btn-text {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    background-color: #021330; }

.page-index {
  padding-bottom: 245px; }
  .page-index__instruction {
    margin: 0; }
  .page-index__homescreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    min-height: calc(100vh - 60px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .page-index__logotype {
    display: block;
    margin-right: auto;
    margin-left: auto; }
  .page-index__slogan {
    margin: 17px 0 84px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #c1c1c1;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal; }
  .page-index__request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 0 80px; }
  .page-index__block--features {
    margin: 120px 0; }
  .page-index__block--content {
    margin: 75px 0; }
  .page-index__block--ido {
    margin: 105px 0; }
  .page-index__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .page-index__figure {
    background-color: #1c2b45; }
    .page-index__figure-img {
      display: block; }
  .page-index__text {
    width: 380px;
    margin: 0;
    white-space: pre-line;
    letter-spacing: -0.8px;
    color: #e0e0e0;
    line-height: 1.3;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: justify; }
